<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/herkal.png"
        alt="herkal"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Ahmad Herkal Taqyudin</h1>
      <p class="lead">College Student | Software Engineer</p>
    </div>
  </div>
</div>
